 *{
padding: auto;
margin: auto;
 }
 h1{
    text-transform: capitalize;
    background-color: aqua;
    text-decoration: wavy;
    text-decoration: dotted;
    text-decoration: hotpink;
    text-overflow: hover;
    text-rendering: geometricPrecision;
    text-align: center;
    text-decoration: antiquewhite;
 }
 h4{
   text-align: center;
   text-transform: capitalize;
 }